* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

h1 {
    text-align: center;
    color: white;
    padding: 40px 80px 80px;
    margin-bottom: 20px;
    background-color: black;
    height: 80px;
}

.space {
    background-color: white;
    height: 5px;
    width: 100%;
}
.container {
    border: solid 40px white;
    background-color: black;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 100px;
    margin: 0;
    justify-content: center;
}

.button {
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: white;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 35px;
    padding: 15px 75px;
    border-radius: 2px;
    width: 100%;
    border: 2px solid white;
    height: 350px;
    margin: 70px;
}

a:hover {
    background-color: lightgray;
    color: whitesmoke;
}
