* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

.title {
    background-color: black;
    text-align: center;
    color: white;
}

.subtitle {
    background-color: white;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-item {
    display: block;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
}

.button {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 6px;
    text-align: center;
    width: 140px;
    height: 70px;
    padding-top: 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: white;
    color: black;
}
